<ng-container [ngSwitch]="property.fieldType">
    <beta-asset-app-equipment-property-base
        *ngSwitchCase="IEquipmentPropertyMetaTypes.Normal"
        [property]="baseProperty"
    ></beta-asset-app-equipment-property-base>

    <beta-asset-app-equipment-property-multi
        *ngSwitchCase="IEquipmentPropertyMetaTypes.Multi"
        [property]="multiProperty"
    ></beta-asset-app-equipment-property-multi>

    <beta-asset-app-equipment-property-group
        *ngSwitchCase="IEquipmentPropertyMetaTypes.Group"
        [property]="groupProperty"
    ></beta-asset-app-equipment-property-group>
</ng-container>
