<ion-header>
    <ion-toolbar>
        <ion-back-button
            slot="start"
            defaultHref="home"
            text=""
        ></ion-back-button>
        <ion-title>Cihazlar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <div class="loading-container" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
    <div class="list-container" *ngIf="!loading">
        <div
            class="list-item"
            *ngFor="let equipment of equipments"
            (click)="goToEquipment(equipment)"
        >
            {{ equipment.name }}
        </div>
    </div>
</ion-content>
