@mixin item-list {
    .list-container {
        padding-inline: 2rem;

        .list-item {
            padding: 1rem 2rem;
            background: var(--ion-color-step-200);
            border-left: 4px solid var(--ion-color-primary-shade);

            --border-radius: 4px;
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);

            &:not(:first-of-type) {
                margin-top: 1rem;
            }
        }
    }
}
