.task {
    border-radius: 8px;

    --task-background: var(--ion-color-step-50);
    background-color: var(--task-background);
    padding: 1rem;

    margin-bottom: 1rem;

    h4 {
        margin-top: 0;
    }

    ion-item {
        --background: var(--task-background);
        --padding-start: 0;
    }
}

.touched {
    --task-background: #290808;
    &.valid {
        --task-background: #0a240b;
    }
}

ion-segment {
    &:not(:last-of-type) {
        margin-bottom: 0.5rem;
    }
}
