<ion-header>
    <ion-toolbar>
        <ion-back-button
            slot="start"
            defaultHref="home"
            text=""
        ></ion-back-button>
        <ion-title>
            <beta-asset-app-loading-icon
                *ngIf="loading"
            ></beta-asset-app-loading-icon>
            <ng-container *ngIf="!loading">Yeni bakim</ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button (click)="test()">test</ion-button>
</ion-content>
