<ion-header>
    <ion-toolbar>
        <ion-back-button
            slot="start"
            defaultHref="home"
            text=""
        ></ion-back-button>
        <ion-title>
            <beta-asset-app-loading-icon
                *ngIf="loading"
            ></beta-asset-app-loading-icon>
            <ng-container *ngIf="!loading">{{
                equipmentBase?.name
            }}</ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <div class="loading-container" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
    <ng-container *ngIf="!loading && equipmentBase">
        <h2>Properties</h2>
        <beta-asset-app-equipment-property
            [property]="equipmentProperty"
            *ngFor="let equipmentProperty of equipmentProperties"
        ></beta-asset-app-equipment-property>
        <div class="maintenance-title">
            <h2>Maintenances</h2>
            <ion-button (click)="navigateToMaintenance()"
                ><ion-icon name="add" slot="icon-only"></ion-icon
            ></ion-button>
        </div>
        <!-- <div style="height: 1000px"></div> -->
        <div
            class="maintenance-item"
            *ngFor="let maintenance of maintenances$ | async"
        >
            {{ maintenance | date : 'cccc, dd MMMM yyyy, HH:mm' }}
        </div>
    </ng-container>
</ion-content>
