<ion-header>
    <ion-toolbar>
        <ion-back-button
            slot="start"
            defaultHref="home"
            text=""
        ></ion-back-button>
        <ion-title>
            <beta-asset-app-loading-icon
                *ngIf="loading"
            ></beta-asset-app-loading-icon>
            <ng-container *ngIf="!loading">{{
                equipmentBase?.name
            }}</ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <div class="loading-container" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
    <ng-container *ngIf="!loading && equipmentBase">
        <h2>Properties</h2>
        <beta-asset-app-equipment-property
            [property]="equipmentProperty"
            *ngFor="let equipmentProperty of equipmentProperties"
        ></beta-asset-app-equipment-property>
        <div class="maintenance-title">
            <h2>Maintenances</h2>
            <ion-button><ion-icon name="add"></ion-icon></ion-button>
        </div>
    </ng-container>
</ion-content>
