<ion-header>
    <ion-toolbar>
        <ion-back-button
            slot="start"
            defaultHref="home"
            text=""
        ></ion-back-button>
        <ion-title>
            <beta-asset-app-loading-icon
                *ngIf="loading"
            ></beta-asset-app-loading-icon>
            <ng-container *ngIf="!loading">{{
                baseEquipment?.name
            }}</ng-container>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <div class="loading-container" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
</ion-content>
