<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="logout()">
            <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-buttons>
        <ion-title>Ekipman Çeşitleri</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" [id]="contentId" class="ion-padding">
    <div class="loading-container" *ngIf="loading">
        <ion-spinner></ion-spinner>
    </div>
    <div class="list-container" *ngIf="!loading">
        <div
            class="list-item"
            *ngFor="let equipmentType of equipmentTypes"
            (click)="goToEquipmentType(equipmentType)"
        >
            {{ equipmentType.name }}
        </div>
    </div>
</ion-content>
