ion-item {
    margin-bottom: 0.5rem;

    ion-label {
        p {
            color: rgb(175, 175, 175);
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    place-items: center;
}
