<ion-content [forceOverscroll]="false">
    <div>
        <ion-card class="ion-padding">
            <form [formGroup]="form">
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input formControlName="username"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input
                        formControlName="password"
                        type="password"
                    ></ion-input>
                </ion-item>
            </form>
            <ion-button class="ion-margin-top" expand="block" (click)="submit()"
                >Submit</ion-button
            >
        </ion-card>
    </div>
</ion-content>
